# Ignore bundler config.
/backend/.bundle

# Ignore all logfiles and tempfiles.
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep

# Ignore uploaded files in development.
/backend/storage/*
!/backend/storage/.keep
/backend/tmp/storage/*
!/backend/tmp/storage/
!/backend/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/backend/config/master.key

# Ignore database configuration
/backend/config/database.yml

# Ignore environment variables
/backend/.env

# Ignore coverage reports
/backend/coverage

# Ignore RSpec examples status persistence file
/backend/spec/examples.txt

# Ignore node modules
/backend/node_modules

# Ignore yarn error log file
/backend/yarn-error.log

# Ignore precompiled assets
/backend/public/assets

# Ignore macOS system files
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore Ruby version manager files
/backend/.ruby-version
/backend/.ruby-gemset

# Ignore byebug command history file
/backend/.byebug_history

# Ignore other common files
*.log
*.sql
*.sqlite